{% extends "code_sharing/base.html" %}
{% block content %}
    <div class="content-section">
        <div class="code">
            <h1>{{Code.title}}</h1>
            <p class="text-muted">Posted by {{Code.author}} at {{Code.date_posted}}</p>
            <p>{{Code.content|linebreaks}}</p>
            {% if Code.snippet %}
                <pre class="content-section code">{{Code.snippet}}</pre>
            {% endif %}
        </div>

        <div class="code-section mh-300">
            {% if user.is_authenticated %}
                <div class="justify-content-center mt-3 mb-2">
                    <form method="POST" action="{% url '#' Code.id %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="d-grid gap-2">
                            <button class="btn btn-outline-primary" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            {% endif %}

            {% for comments in Comment %}
                <div class="comment">
                    <p class="m-0">{{comments.content}} - 
                        <a href="#">{{comments.author}}</a> 
                        <span class="text-muted">
                            {{comments.date_posted}}
                        </span>
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- <div>
        <h3>Discussions / <a href="{% url 'forum-answer-create' pertanyaan.id %}">Add New Answer</a></h3>
    </div>

    {% for answer in jawaban %}
        <div class="content-section">
            <div>
                <a href="#">{{answer.author}}</a>
                <small class="text-muted">{{answer.waktu_upload}}</small>
            </div> 
            <p class="my-2">{{answer.konten|linebreaks}}</p>
            {% if answer.snippet %}
                <pre class="content-section code my-2">{{answer.snippet}}</pre>
            {% endif %}
        </div>
    {% empty %}
            <h3>No one has posted an answer yet</h3>
    {% endfor %} -->

{% endblock content %}