{% extends "codeapp/base.html" %}
{% block content %}
    <h1>My Codes</h1>
    {% for code in codes %}
        <article class="content-section zoom">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ code.author }}</a>
                <small class="text-muted">{{ code.date_posted }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'codeapp-code-detail' code.id %}">{{ code.title }}</a></h2>
            <p class="article-content">{{ code.description|stringformat:".100s" }}</p>
            <a class="btn btn-outline-primary mr-2" href="{% url 'codeapp-code-update' code.id %}">Edit</a>
            <a class="btn btn-outline-danger" href="{% url 'codeapp-code-delete' code.id %}">Delete</a>
        </article>

    {% empty %}
        <h1>You have no question yet</h1>
    {% endfor %}
{% endblock content %}