{% extends "codeapp/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="login-page">
        <h1>Login</h1>
        <div class="form">
            <form method="POST" class="login-form">
                {% csrf_token %}
                {% for field in form %}
                    <div class="input-box">
                        {{ field }}
                    </div>
                {% endfor %}
                <button type="submit">Login</button>
                <div class="message-bottom">
                    <p><a href="#">Forgot Password?</a></p>
                </div>
                <p class="message-bottom">Don't Have Account? <a href="{% url 'register' %}">Register</a></p>
            </form>
        </div>
    </div>
{% endblock content %}